body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}
.navbar {
  height: 5rem;
  background-color: white;
}
.navbar-brand {
  color: rgb(235, 76, 96);
  font-size: 2rem;
}
.nav-link {
  color: #222222;
}
.f-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(235, 233, 233);
}
.f-info-socials {
  font-size: 1.5rem;
}
.f-info-links a {
  text-decoration: none;
  color: #222222;
}
.f-info-links a:hover {
  text-decoration: underline;
}
.listing-card {
  border: none;
  margin-bottom: 2rem;
}
.card-img-top {
  border-radius: 2rem;
}
.card-body {
  padding: 0;
}
.card-text {
  font-weight: 400;
}
.listing-link {
  text-decoration: none;
}
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.25;
  background-color: white;
}
.add-btn,
.edit-btn {
  background-color: rgb(235, 76, 96);
  border: none;
}
